.background {
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 9.41vh;
  align-items: center;
}

.head{
  flex: 1;
  padding: 0vh 1vw;
  border-right: 1px solid #EBEFF2;
}

.head2{
  flex: 2;
  padding: 0vh 1vw;
  border-right: 1px solid #EBEFF2;
}

.headlast{
  flex: 1;
  padding: 0vh 1vw;
}
