.background{
  height: 70vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1vh;
}

.background div div{
  margin: 3vh 1vw;
}

.bar {
  height: 70vh;
  width: 75%;
}

.circle {
  height: 70vh;
  width: 24.5%;
}
