.background {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 0.5vw;
  margin-bottom: 2vh;
}

.background div{
  margin: 0 0.5vw;
}

.heading {
  color: #323c47;
  font-weight: 500;
  font-size: 1.88vh;
  margin-top: 0.5vh;
}

.parah {
  color: #707683;
  font-weight: 500;
  font-size: 1.4vh;
}
