.background {
  height: 9.15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.parah{
  font-size: 1.6vh;
  font-weight: 500;
}

.back{
  background: none;
	color: inherit;
	border: none;
	padding: 1vh 1vw;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.arrow{
  transform: rotate(90deg);

}

.icon{
  margin-top: 1vh;
}

.btn{
  padding: 0 1vw;
}
