.background{
  width: 24.5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 5.5vh 4vh;
}

.amount{
  font-weight: 600;
  font-size: 2.35vh;
  color: #323C47;
  padding: 0 0.5vw;
}

.detail{
  font-weight: 600;
  font-size: 1.4vh;
  color: #707683;
  padding: 0 0.5vw;
}

.icon{
  margin-top: 0.5vh;
}
