.bluebutton {
  border: 2px solid #0415AA;
  background: white;
  color: #0415AA;
  cursor: pointer;
  border-radius: 100px;
  font-weight: 600;
  height: 5.2vh;
  width: 9vw;
  font-size: 1.65vh;
}

.bluebutton:hover,
.bluebutton:active {
  border-color: #041186;
  color: #041186;
}
