.container{
  padding: 0 5.8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading{
  color: #0415aa;
  padding-bottom: 1vh;
  text-align: center;
}

.headingTop{
  text-align: center;
}

.gif{
  height: 70vh;
  width: auto;
}

.headingparah{
  font-size: 2.7vh;
  padding-bottom: 2vh;
  text-align: center;
  color: #323C47;
}

.button{
  font-size: 2.7vh;
  height: 7.5vh;
  width: 13.5vw;
}
