.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flexcont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1vh;
  padding: 1vh 0.5vw;
}

.blockwm{
  margin-right: 0.5vw;
  height: 13vh !important;
  flex: 1;
}

.block{
  height: 13vh !important;
  flex: 1;
}

.list{
  color: #707683;
  font-size: 1.64vh;
  margin-bottom: 5vh;
  width: 80%;
}
