
.container{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 2.5vh 1.2vw;
  width: 97vw;
}

.sidebar{
  width: 60px;
  height: 95vh;
  padding-right: 6px;
}

.main{
  display:flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  height: 95vh;
  overflow-y: auto;
  overflow-x: hidden;
}
