.redbutton{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 12vw !important;
  margin-top:1.5vh;
}

.buttonparah{
  width: 8.3vw;
}

.flexspacebetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2vh 0;
  margin-top: 1vh;
}
