.background {
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1vw;
  margin-bottom: 1vh;
}

.navlink {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.64vh;
  color: #707683;
  margin-right: 5vh;
  cursor: pointer;
}

.selected {
  font-weight: 500;
  font-size: 1.64vh;
  color: #323c47;
  margin-right: 5vh;
  cursor: pointer;
}
