.bluebutton {
  border: 1px solid #0415AA;
  background: white;
  color: #0415AA;
  cursor: pointer;
  border-radius: 100px;
  font-weight: 600;
  height: 5.2vh;
  width: 9vw;
  font-size: 1.65vh;
}

.bluebutton:hover,
.bluebutton:active {
  border-color: #041186;
  color: #041186;
}

.redbutton {
  border: 1px solid #DE5246;
  background: #DE5246;
  color: white;
  cursor: pointer;
  border-radius: 100px;
  font-weight: 600;
  height: 5.2vh;
  width: 9vw;
  font-size: 1.65vh;
}

.redbtn:hover,
.redbtn:active {
  background: #ff5f52;
  border-color: #ff5f52;
}

.parah {
  font-weight: 400;
  font-size: 1.6vh;
  color: #707683;
}

.head{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.tail{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.tail div{
  margin: 1vh 0;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.buttons div{
  padding: 0 3vh;
}
