.padding {
  padding: 2vh 2vw;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2vh 0;
}

.background {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2vh;
  border-bottom: 1px solid #EBEFF2;
}

.dets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 0;
  border-bottom: 1px solid #EBEFF2;
  margin-bottom: 2.5vh;
}

.heading {
  width: 25%;
  font-weight: 600;
  font-size: 1.647vh;
  color: #323c47;
}

.parah {
  width: 25%;
  font-weight: 500;
  font-size: 1.412vh;
  color: #323c47;
}

.bluebutton {
  border: 1px solid #0415AA;
  background: white;
  color: #0415AA;
  cursor: pointer;
  border-radius: 100px;
  font-weight: 600;
  height: 5.2vh;
  width: 9vw;
  font-size: 1.65vh;
}

.bluebutton:hover,
.bluebutton:active {
  border-color: #041186;
  color: #041186;
}
