.mobile_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bars {
  display: none;
  position: relative;
  cursor: pointer;
  height: 30px;
  width: 35px;
  transition: 0.3s all ease-in;
}
.bars span {
  height: 3px;
  width: 35px;
  background: #000639;
  display: inline-block;
  position: absolute;
  transition: 0.2s all ease-in;
}
.bars span:nth-child(1) {
  top: 0;
}
.bars span:nth-child(2) {
  top: 7px;
}
.bars span:nth-child(3) {
  top: 14px;
}
.bars.active span:nth-child(1) {
  top: 7px;
  transform: rotate(45deg);
}
.bars.active span:nth-child(2) {
  top: 7px;
  opacity: 0;
  visibility: hidden;
}
.bars.active span:nth-child(3) {
  top: 7px;
  transform: rotate(-45deg);
}
