.flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  height: 45%;
}

.para{
  font-weight: 500;
  color: #323C47;
  font-size: 1.41vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.para svg{
  margin-right: 0.5vw;
}
